@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-tuf-black text-tuf-text antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D32F2F; 
}